/* VARIABLES GLOBALES Y MOTOR DE TEMAS ESTRICTO */
:root {
    --theme-cpm: #a6ff00; 
    --theme-wpm: #ff3c00; 
    --p: var(--theme-cpm); 
    
    --bg: #000000;
    --surface: #0a0a0a;
    --surface-light: #141414;
    --border: #222222;
    --text-main: #ffffff;
    --text-muted: #777777;
    --error: #f44336;
    --success: #4caf50;
}

:root[data-theme="cpm"] { --p: var(--theme-cpm); }
:root[data-theme="wpm"] { --p: var(--theme-wpm); }

/* CUSTOM THEME OVERRIDES (PLANTILLAS) */
:root[data-custom-theme="true"] {
    --p: var(--theme-custom) !important;
    --bg: var(--bg-custom) !important;
    --surface-light: var(--surface-custom) !important;
    --surface: color-mix(in srgb, var(--surface-custom) 70%, #000) !important;
}

* { box-sizing: border-box; }
body { background: var(--bg); color: var(--text-main); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; display: flex; justify-content: center; align-items: center; height: 100vh; overflow: hidden; -webkit-user-select: none; user-select: none; transition: background 0.3s; }
input, textarea, [contenteditable="true"], input[type="color"] { -webkit-user-select: text; user-select: text; }
::selection { background-color: var(--p); color: var(--bg); }

@keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
.screen:not(.hidden) { animation: fadeIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.main-shell { width: 1050px; height: 92vh; background: var(--surface); border-radius: 20px; border: 1px solid var(--border); display: flex; flex-direction: column; padding: 25px 40px; box-shadow: 0 20px 80px rgba(0,0,0,0.9), 0 0 30px color-mix(in srgb, var(--p) 8%, transparent); transition: box-shadow 0.3s ease, border-color 0.3s; }
.screen { flex-grow: 1; display: flex; flex-direction: column; min-height: 0; }
.hidden { display: none !important; }

.custom-scroll { overflow-y: auto; padding-right: 8px; }
.custom-scroll::-webkit-scrollbar { width: 6px; }
.custom-scroll::-webkit-scrollbar-track { background: var(--surface-light); border-radius: 10px; }
.custom-scroll::-webkit-scrollbar-thumb { background: var(--p); border-radius: 10px; box-shadow: inset 0 0 4px rgba(0,0,0,0.6), 0 0 8px color-mix(in srgb, var(--p) 30%, transparent); transition: background-color 0.3s; }
.custom-scroll::-webkit-scrollbar-thumb:hover { filter: brightness(1.3); }

/* SCROLLBAR ROJA PARA MÉTRICAS NEGATIVAS */
.error-scroll::-webkit-scrollbar-thumb { background: var(--error); box-shadow: inset 0 0 4px rgba(0,0,0,0.6), 0 0 8px color-mix(in srgb, var(--error) 30%, transparent); }
.error-scroll::-webkit-scrollbar-thumb:hover { filter: brightness(1.3); }

.avatar-xs, .avatar-sm, .avatar-md, .avatar-lrg { border-radius: 50%; border: 2px solid var(--p); background
